*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(197, 197, 197);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: rgb(37, 37, 37);
    color: rgb(197, 197, 197);
    padding: 40px 0;
    text-align: center;
}

header h1{
    font-size: 3rem;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

main section{
    display: flex;
}

main .container{
    padding: 20px;
    width: 100%;
}

main .container img{
    width: 100%;
    max-width: 350px;
}

main .container h2{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

main p{
    font-size: 1.3rem;
    font-weight: 500;
}

footer{
    background-color: rgb(37, 37, 37);
    padding: 20px 0;
    width: 100%;
    color: #fff;
    position: absolute;
    bottom: 0;
}

footer p{
    text-align: center;
}